/* current implementation: page layout support resolution greater than 600px
*/

body {
  font-family: 'Open Sans', sans-serif;
}
/* main container */
.content{
  position: absolute;
  display:flex;  /*since the page outer layout is one directional, flex is preferred instead of grid*/
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* items in content class - header banner heading slider and footer*/
.header{
  background-color: white;
  width: 100%;
  height: 5%;
  display:flex;
  justify-content: center;
  text-transform: uppercase;  /*all the links in header are changed to capital letters*/
}

.banner{
  width: 100%;
  height: 30%;
  display: grid;  /*grid is used to position the sliding button on center bottom of the banner*/
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.heading-1{
  width: 100%;
  height:5%;
  text-align: center;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}
@media all and (min-width: 600px){
  .slider{
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
    margin:10px 0 0 0;
  }
}

.footer{
  background-color: black;
  position: relative;
  width: 100%;
  height: 5%;
  display: flex;
}

/* elements in header */

.header a {
  text-decoration: none;
  color: #000;
  font-size:0.8rem;
  font-family: 'Nunito', sans-serif;
}
.header li{
  list-style-type: none;
  margin: 0 1rem;
}
.searchBar{
  font-family: FontAwesome, 'Open Sans', sans-serif;
  font-size: x-small;
  border-radius: 10px;
  padding: 5px 5px;
  border: black solid thin;
}

/* elements in banner block*/

.banner-btn-group{
  display: flex;
  grid-area: 5/3;
  justify-content: center;
  z-index: 2; /*buttons comes above the banner*/
}
.banner-image{
  grid-area: 1/1/6/6;
  z-index: 1;
}

.banner-btn{
  width: 13px;
  height: 13px;
  border: 1.5px solid #fffefa;
  border-radius: 100%;
  margin: 0 .3rem;
}
.banner-image img{
  width: 100%;
  height: 100%;
}

/* elements in slider block */
.slider img{
  width: 100%;
  height: auto;
}

@for $i from 1 through 3 {
  .image-#{$i}{
    width: 25%;
    height: 100%;
    margin: 0 0.5rem;
  }
}

.article-date{
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: x-small;
  text-align: center;
}

.article-title{
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: large;
  text-align: center;
  margin: 0.5rem;
}

.article-text{
  color: black;
  font-family: 'Yantramanav', sans-serif;
  font-size: small;
  text-align: center;
  margin: 0.5rem;

  text-overflow: ellipsis; /*limit no of lines in content*/
  line-height: 1rem;
  max-height: 4rem;
}

.article-link  {
  display: block;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: smaller;
  text-align: center;
  text-decoration: none;
  margin: 1rem;
}

/* elements in footer */
.copyright{
  width: 50%;
  height: 5%;
}

.copyright-text{
  margin: 0.5rem 0 0 -30%;
  font-size: .8rem;
  color: #FFF;
  text-align: center;
}
.logo{
  width: 50%;
  height: 5%;
  margin: 0.2rem 8%;
}

.igloo-logo{ /*class is meant to draw igloo logo*/
  width: 3.5rem;
  height:1rem;
  background-color: rgba(16,192,98,0.89);
  color: #FFF;
  font-size: .8em;
  text-align: center;
  float: right;
  margin: 0.2rem 2rem .2rem;
}

@media all and (max-width: 600px) {
  /*change the layout for screens with smaller resolution as per the new design(mobile based)
  *
  *Changes(classes) to be noted:
  *slider -> flex flow to column
  *footer -> fixed at absolute bottom
  *header -> change menu and search position
  *banner -> change size
  */
}
